:root {
    --font-fam01: 'Poppins', sans-serif;
    --font-fam02: 'Risque', cursive;
    --font-fam03: 'Risque',cursive;
    --font-fam04:  'Alkalami', serif;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: hsl(30, 38%, 92%);
}


.container {
    display: flex;
    justify-content: center;
    margin-top: 100px;
    margin-bottom: 100px;
}


.pic img {
    height: 400px;
    width: 250px;
    border: 2px solid none;
    border-radius: 5px;
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
}


.details {
    padding-left: 20px;
    padding-top: 30px;
    background-color: white;
    width: 250px;
    height: 400px;
    border: 2px solid none;
    border-radius: 5px;
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
}

.details h4 {
    text-transform: uppercase;
    letter-spacing: 5px;
    font-size: 0.7em;
    opacity: 0.5;
    font-family: var(--font-fam01);
}

.details h1 {
    font-weight: 500;
    font-family: var(--font-fam04);
    line-height: 1;
    padding-top: 20px;
    font-size: 1.8em;
}

.details p {
    opacity: 0.7;
    padding-top: 20px;
    font-family: var(--font-fam01);
    font-size: 0.8em;
}



.prices {
    display: flex;
    padding-top: 20px;
    align-items: center;
}

#new-p {
        color: hsl(158, 36%, 37%);
        font-size: 1.8em;
        font-family: var(--font-fam01);
        font-weight: 600;
}


#old-p {
    padding-left: 15px;
    font-size: 0.9em;
    opacity: 0.6;
    text-decoration: line-through;
    padding-bottom: 12px;
}


.btn {
    display: flex;
    justify-content: center;
    padding-top: 12px;
    border:2px solid hsl(158, 89%, 18%);
    width: 90%;
    height:40px;
    background-color:hsl(158, 89%, 18%) ;
    border-radius: 7px;
    margin-top: 7px;
    align-items: center;
    transition-duration: 1s;
    transition-delay: 0.5s;
}


.btn a  {
    text-decoration: none;
    color: white;
    padding-bottom: 20px;
    font-family: var(--font-fam01);
    font-size: 0.8em;
}

#icn {
    margin-right: 5px;
}

.btn:hover{
    margin: 10px;
}


@media  (max-width: 640px) {
    .container {
        flex-direction: column;
        margin-top: 40px;
        margin-bottom: 40px;
        align-items: center;
    }

    .pic img {
        height: 220px;
        border-top-right-radius: 5px;
        border-bottom-left-radius: 0;
        border-bottom-right-radius: 0;
        border-top-left-radius: 5px;
        padding-top: 1px;
        margin-top: 0;
    }

    .details {
        padding-bottom: 30px;
        height: 320px;
        border-bottom-left-radius: 5px;
        border-bottom-right-radius: 5px;
        border-top-right-radius: 0;
        border-top-left-radius: 0;   
    }

    .details h4 {
        font-size: 1em;
    }

    .details h1 {
        font-size: 1em;
    }

    .details p {
        padding-top: 10px;
    }
}